body {
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
        url("./ff-characters.png");
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

a {
    color: white;
}

p,
.header-container,
#container {
    margin-bottom: 10px;
}

#container div.hide {
    display: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

header,
footer {
    background: linear-gradient(165deg, #0058b0, #000068, #000021);
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-style: ridge;
    border-width: 6px;
    border-radius: 8px;
    border-color: #dedede #c5c5c5;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

footer {
    display: block;
    margin-top: auto;
}

header :is(*),
footer {
    color: white;
}

.header-container > div {
    border-right: 5px solid rgb(179, 179, 179);
    padding: 1em;
}
.header-container > div:last-child {
    border: none;
}

.updatelog * {
    text-align: left;
    margin-bottom: 0;
}

#searchInp {
    width: 100%;
    max-width: 500px;
    font-size: 1.1em;
    text-align: center;
    background: #eceff1;
    border: 1px solid transparent;
    border-radius: 500px;
    padding: 7px;
}
#searchInp,
#randomChar {
    color: black;
}

.introduction {
    text-align: left;
}

.title {
    font-size: 1.6rem;
}

.output-box {
    width: 500px;
    min-height: 80px;
    position: relative;
    margin: 0;
    padding: 1.5rem 1.5rem 1rem;
    color: #e6e6e6;
    text-shadow: #202020 1px 1px;
    background: linear-gradient(165deg, #0058b0, #000068, #000021);
    border-style: ridge;
    border-width: 6px;
    border-radius: 8px;
    border-color: #dedede #c5c5c5;
}

.imagebox {
    max-width: 100px;
    float: left;
    margin: 0 30px 15px 0;
}
.imagebox.imagebox-game {
    float: none;
    max-width: 100%;
    max-height: 130px;
    display: block;
}

.output-box > p {
    margin-top: 0;
    line-height: 1.2rem;
}

.character,
.monster,
.game {
    border-radius: 2px;
    display: inline-block;
    padding: 5px 8px 3px 8px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-shadow: none;
}
.character {
    background-color: teal;
}
.monster {
    background-color: #a2132f;
}
.game {
    background-color: #3913a2;
}

.output-box.initialmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

@media only screen and (max-device-width: 800px) {
    body {
        padding: 10px;
    }
    header {
        flex-direction: column;
    }
    header .introduction {
        border: none;
        border-bottom: 5px solid rgb(179, 179, 179);
    }
}
